.header{
    display: flex;
    justify-content: space-around;
    height: 50px;
}
.header a{
    font-size: 16px;
    line-height: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header input{
    margin-top: 10px;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #000;
    width: 200px;
    text-indent: 5px;
    background-color: #ececec;
}
.header a img{
    height: 30px;
    width: 30px;
}
.header a span{
    display: inline-block;
    height: 20px;
}